.slider {
  @include tag-format(block, relative);
  @include tag-size(auto, 100%);

  padding: 40px 0;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  .shows {
    @include tag-format(block, relative);

    margin: 0 20px;

    &-button {
      &-prev,
      &-next {
        @include tag-format(inline-block, absolute);

        top: 50%;
        transform: translateY(-50%);
        background-color: $gray-600;
        border-radius: 3px;
        cursor: pointer;
        z-index: 10;
        opacity: 0.8;

        &.swiper-button-disabled {
          visibility: hidden;
        }

        span {
          @include tag-format(block);
          @include tag-size(29px, 38px);
          @include arrow-image;
        }
      }

      &-prev {
        left: -1%;

        span {
          transform: scale(-1, 1);
          filter: "FlipH";
        }

        @include media-breakpoint-only(md) {
          left: 0%;
        }
      }

      &-next {
        right: -1%;

        @include media-breakpoint-only(md) {
          right: 0%;
        }
      }
    }

    .swiper-slide {
      .show {
        @include tag-format(block, relative);

        min-height: 1px;
        padding: 0 20px;
        cursor: pointer;
        transition: opacity 0.5s ease-in-out;

        .title {
          color: $black;
          font-family: $font-family-monotype;
          font-size: $font-size-sm;
          font-style: italic;
          text-align: center;
          transition: color 0.5s ease-in-out;
        }

        .description {
          color: $black;
          font-size: $font-size-sm / 1.3;
          font-weight: $font-weight-bold;
          text-align: center;
          text-transform: uppercase;
          padding: 12px 0;
          transition: color 0.5s ease-in-out;

          &-desktop {
            @include media-breakpoint-down(sm) {
              @include tag-format(none);
            }

            @include media-breakpoint-only(md) {
              @include tag-format(none);
            }
          }

          &-devices {
            @include tag-format(none);

            @include media-breakpoint-down(sm) {
              @include tag-format(block);
            }

            @include media-breakpoint-only(md) {
              @include tag-format(block);
            }
          }
        }

        @include media-breakpoint-up(sm) {
          @include tag-size(100%);

          float: left;
        }

        @include media-breakpoint-down(sm) {
          transform: translateY(21px);
        }

        a {
          @include tag-format(block);

          padding-top: 12px;

          img {
            @include tag-format(block);
            @include img-fluid;

            margin: 0 auto;
          }

          &.wrapper {
            margin: 0 auto;

            img {
              max-height: 300px;

              @media (min-height: 1400px) {
                max-height: 400px;
              }
            }

            .swiper-lazy-preloader {
              @include tag-size(auto, 200px);

              .spinner {
                @include tag-size(6rem, 6rem);
              }
            }
          }
        }

        &:first-child {
          @include media-breakpoint-down(sm) {
            transform: translateY(0);
          }
        }

        &:hover {
          opacity: 0.8;

          .title,
          .description {
            color: $gray-600;
          }
        }
      }

      &-active::after,
      &-next::after {
        @include tag-format(block);

        border-right: 1px solid $gray-200;
        content: "_";
        color: transparent;

        @include media-breakpoint-down(sm) {
          @include tag-format(none);
        }
      }
    }

    @include media-breakpoint-only(md) {
      margin: 0 10px;
    }
  }

  .more {
    @include tag-format(block);

    text-decoration: underline;
    color: $gray-800;
    margin-top: 21px;
    text-align: center;

    &:hover {
      color: $blue;
    }
  }
}
