/* Set html tag format */

/** @params $display-type (default: null)
    @params $position (default: null)

    if $display-type not set, then param display not return
    if $position not set, then param position not return

    @return display,
            position
*/
@mixin tag-format($display-type: null, $position: null) {
  @if $display-type != null {
    display: $display-type;
  }

  @if $position != null {
    position: $position;
  }
}

/* Set html tag size */

/** @params $width (default: null)
    @params $height (default: null)

    if $witdh not set, then param width not return
    if $height not set, then param height not return

    @return width,
            height
*/
@mixin tag-size($width:null, $height:null) {
  @if $width != null {
    width: $width;
  }

  @if $height != null {
    height: $height;
  }
}

/* Image arrow for use anywhere */

/** @return background-image,
            background-position,
            background-repeat
 */
@mixin arrow-image() {
  background-image: url("../images/shows-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}
